[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gogskrish
[access "refs/for/refs/*"]
	read = group user/gogskrish
	push = group user/gogskrish
	label-Code-Review = -2..+2 group user/gogskrish
	label-Verified = -1..+1 group user/gogskrish
	rebase = group user/gogskrish
	removeReviewer = group user/gogskrish
	submit = group user/gogskrish
[access "refs/heads/*"]
	read = group user/gogskrish
	create = group user/gogskrish
	push = +force group user/gogskrish
	pushMerge = group user/gogskrish
[access "refs/tags/*"]
	push = +force group user/gogskrish
	pushTag = group user/gogskrish
	pushSignedTag = group user/gogskrish
